{% extends "login_page/base.html" %}
{% load static %}

{% block body_class %}login-page-body{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'login_page/profile/profile.css' %}">
{% endblock %}

{% block body %}
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 d-flex align-content-center justify-content-start">
                <a href="{{ dashboard_url }}" class="return_to_login">
                    <img src="{% static 'login_page/images/sky-logo-2025.png' %}" alt="Logo Sky" class="logo-header">
                </a>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 main-content profile-shell">
                <div class="container-fluid">
                    <div class="row" id="Dashboard">
                        {% include "login_page/includes/user_home/sidebar.html" %}
                        <div class="col-10" id="Main-Dashboard">
                            <div class="profile-form-scroll">
                            <form method="post" id="profile-form" enctype="multipart/form-data" novalidate>
                                {% csrf_token %}
                                <div class="container-fluid">
                                    <div class="row d-flex justify-content-end" id="Top-row">
                                        <div class="col-6 d-flex justify-content-end">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-12 d-flex justify-content-end">
                                                        <p class="Naming">{{ new_account_heading }}</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 d-flex justify-content-end">
                                                        <a href="{{ dashboard_url }}" class="Link_back">Go back to the dashboard</a>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 d-flex justify-content-end">
                                                        <a href="{% url 'login_page:logout' %}" class="Link_back">Log out</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="Main-row">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-3 Img_temp d-flex align-content-center justify-content-center">
                                                    <label for="profile-image-upload"
                                                        class="profile-image d-flex align-content-center justify-content-center"
                                                        aria-label="Upload profile picture">
                                                        <img src="{{ profile_avatar_url }}" alt="Profile picture"
                                                            class="Profile_picture" id="profile-picture-preview">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                            fill="currentColor"
                                                            class="profile-edit-icon bi bi-pencil-fill"
                                                            viewBox="0 0 16 16">
                                                            <path
                                                                d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.707l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                                        </svg>
                                                    </label>
                                                        {{ new_account_form.profile_image }}
                                                </div>
                                                <div class="col-9">
                                                    <div class="container-fluid">
                                                        <div class="row d-flex justify-content-center">
                                                            <div class="col-10">
                                                                <p id="profile-feedback"
                                                                    class="form-feedback {% if new_account_feedback_type %}{{ new_account_feedback_type }}{% endif %}"
                                                                    role="alert"
                                                                    aria-live="polite">{{ new_account_feedback }}</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6 d-flex justify-content-center">
                                                                <div class="col-10 question_form_text">
                                                                    {{ new_account_form.full_name }}
                                                                    <label>Full name</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-6 d-flex justify-content-center">
                                                                <div class="col-10 question_form_text">
                                                                    {{ new_account_form.username }}
                                                                    <label>Username</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6 d-flex justify-content-center">
                                                                <div class="col-10 question_form_text">
                                                                    {{ new_account_form.date_of_birth }}
                                                                    <label>Date of Birth</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-6 d-flex justify-content-center">
                                                                <div class="col-10 question_form_text">
                                                                    {{ new_account_form.gender }}
                                                                    <label>Gender</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6 d-flex justify-content-center">
                                                                <div class="col-10 question_form_text">
                                                                    {{ new_account_form.email }}
                                                                    <label>E-mail</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-6 d-flex justify-content-center">
                                                                <div class="col-10">
                                                                    <div class="question_form_text has-value">
                                                                        <input type="password"
                                                                            id="account-password-preview"
                                                                            value="**************"
                                                                            readonly
                                                                            autocomplete="off">
                                                                        <label>Password</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6 d-flex justify-content-center">
                                                                <div class="col-10 question_form_text">
                                                                    {{ new_account_form.phone_number }}
                                                                    <label>Phone number</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-6 d-flex justify-content-center">
                                                                <div class="col-10 question_form_text">
                                                                    {{ new_account_form.status }}
                                                                    <label>Status</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6 d-flex justify-content-center">
                                                                <div class="col-10 question_form_text">
                                                                    {{ new_account_form.team_name }}
                                                                    <label>Team Name</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-6 d-flex justify-content-center">
                                                                <div class="col-10 question_form_text">
                                                                    {{ new_account_form.team_role }}
                                                                    <label>Team Role</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6 d-flex justify-content-center">
                                                                <div class="col-10 question_form_text">
                                                                    {{ new_account_form.department_name }}
                                                                    <label>Department Name</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-6 d-flex justify-content-center">
                                                                <div class="col-10 question_form_text">
                                                                    {{ new_account_form.department_head }}
                                                                    <label>Department Head</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row d-flex justify-content-center">
                                                            <div class="col-10 question_form_text_long">
                                                                {{ new_account_form.member_skills }}
                                                                <label>Member skills</label>
                                                                <div id="member-skills-popup"
                                                                    class="member_skills_popup" role="dialog"
                                                                    aria-hidden="true"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row d-flex justify-content-end" id="Bottom-row">
                                        <div class="col-6">
                                            <div class="container-fluid">
                                                <div class="row d-flex justify-content-end">
                                                    <div class="col-6 d-flex justify-content-end">
                                                        <a href="{{ dashboard_url }}" class="btn_Cancel">Cancel</a>
                                                        <button type="submit" class="btn_Save">{{ new_account_submit_text }}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</main>
{% endblock %}

{% block extra_js %}
<script src="{% static 'login_page/shared/rolling_sidebar.js' %}"></script>
<script src="{% static 'login_page/profile/profile_skills_picker.js' %}"></script>
<script src="{% static 'login_page/profile/profile_image_upload.js' %}"></script>
<script src="{% static 'login_page/shared/password_toggle.js' %}"></script>
{% endblock %}
