<h1>Organisation Overview</h1>

<h2>Departments</h2>

<ul>
    {% for dept in departments %}
    <li style="margin-bottom:10px;">
        <strong>{{ dept.departmentName }}</strong>

        <ul>
            {% for team in dept.teams.all %}
            <li>
                <h4>{{ team.teamName }}</h4>
                Team Leader: {{ team.teamLeader }}
                <ul>
                    {% for dep in team.dependencies.all %}
                    <li>
                        Depends on: {{ dep.depends_on }}<br>
                        Dependency: {{ dep.dependency_type }}
                    </li>
                    {% empty %}
                    <li>No dependencies</li>
                    {% endfor %}
                </ul>
            </li>
            {% empty %}
            <li>No teams</li>
            {% endfor %}
        </ul>

    </li>
    {% endfor %}
</ul>

<h2>Team Dependencies</h2>
<ul>
    {% for dep in dependencies %}
    <li>
        {{ dep.team }} depends on {{ dep.depends_on }}
        ({{dep.dependency_type}})
    </li>
    {% empty %}
    <li>No dependencies</li>
    {% endfor %}
</ul>