<div class="row" id="Third-row">
    <div class="col-12">
        <div class="container-fluid" alt="Text">
            <div class="row">
                <div class="col-4 Activity_column">
                    <p class="Activity_text">Recent Activity</p>
                </div>
            </div>
        </div>

        {% for activityItem in user_home_recent_activity %}
        <div class="container-fluid" alt="Blocks">
            <div class="row d-flex justify-content-center">
                <div class="col-11 Blocks">
                    <div class="container-fluid">
                        <div class="row d-flex justify-content-start">
                            <div class="col-1 Blocks_SVG d-flex align-content-center justify-content-center">
                                {% if activityItem.activity_icon == 'calendar' %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-calendar-week-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M4 .5a.5.5 0 0 1 .5.5V2h7V1a.5.5 0 0 1
                                        1 0V2h1a2 2 0 0 1 2 2v1H0V4a2 2 0 0
                                        1 2-2h1V1a.5.5 0 0 1 .5-.5" />
                                    <path
                                        d="M16 14V6H0v8a2 2 0 0 0 2 2h12a2 2 0
                                        0 0 2-2M2.5 7h1a.5.5 0 0 1 0 1h-1a.5.5
                                        0 0 1 0-1m3 0h1a.5.5 0 0 1 0 1h-1a.5.5
                                        0 0 1 0-1m3 0h1a.5.5 0 0 1 0 1h-1a.5.5
                                        0 0 1 0-1m3 0h1a.5.5 0 0 1 0 1h-1a.5.5
                                        0 0 1 0-1M3 10.5a.5.5 0 0
                                        1 .5-.5h4a.5.5 0 0 1 0
                                        1h-4a.5.5 0 0 1-.5-.5" />
                                </svg>
                                {% elif activityItem.activity_icon == 'report' %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0
                                        0 2 2h8a2 2 0 0 0 2-2V4.707a1 1 0 0
                                        0-.293-.707L10 .293A1 1 0 0 0 9.293
                                        0M9.5 3.5A1.5 1.5 0 0 1 8
                                        2V.5L13.5 6H11a1.5 1.5 0 0
                                        1-1.5-1.5m-5 1A.5.5 0 0 1 5
                                        4h2a.5.5 0 0 1 0 1H5a.5.5 0
                                        0 1-.5-.5m0 2A.5.5 0 0 1 5
                                        6h5a.5.5 0 0 1 0 1H5a.5.5 0
                                        0 1-.5-.5m0 2A.5.5 0 0 1 5
                                        8h5a.5.5 0 0 1 0 1H5a.5.5 0
                                        0 1-.5-.5m0 2A.5.5 0 0 1 5
                                        10h5a.5.5 0 0 1 0 1H5a.5.5 0
                                        0 1-.5-.5" />
                                </svg>
                                {% elif activityItem.activity_icon == 'message' %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-chat-left-text-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0
                                        0-2 2v12.793c0 .44.53.663.854.354L3.207
                                        13H14a2 2 0 0 0 2-2zm-3 3H3a.5.5 0 0
                                        1 0-1h10a.5.5 0 0 1 0 1m0
                                        2H3a.5.5 0 0 1 0-1h10a.5.5
                                        0 0 1 0 1m-3 2H3a.5.5 0 0
                                        1 0-1h7a.5.5 0 0 1 0 1" />
                                </svg>
                                {% elif activityItem.activity_icon == 'team' %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-people-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1
                                        1-1 1zm-4.216-1A2.24 2.24 0 0
                                        1 2 11.5c0-1.01.377-2.042 1.09-2.904C3.975
                                        7.549 5.18 7 6.5 7q.39 0 .766.055A5.9 5.9
                                        0 0 0 7 9c0 1.302.304 2.29.793 3M12.5
                                        7a3 3 0 1 0 0-6 3 3 0 0
                                        0 0 6m-5.468 6C6.242 12.014 6 10.87 6
                                        9.5c0-.186.009-.37.027-.553A4.54 4.54 0
                                        0 0 5.5 9C2.983 9 1 10.574 1
                                        12.5 1 13.328 1.672 14 2.5
                                        14zM5.5 6a2.5 2.5 0 1 0 0-5
                                        2.5 2.5 0 0 0 0 5" />
                                </svg>
                                {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-github" viewBox="0 0 16 16">
                                    <path
                                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29
                                        6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01
                                        1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95
                                        0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12
                                        0 0 .67-.21 2.2.82.64-.18 1.32-.27
                                        2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82
                                        2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82
                                        1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54
                                        1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01
                                        8.01 0 0 0 16 8c0-4.42-3.58-8-8-8" />
                                </svg>
                                {% endif %}
                            </div>
                            <div class="col-6">
                                <p class="Block_main_text">{{ activityItem.activity_text }}</p>
                                <p class="Time_stamp">{{ activityItem.created_at|timesince }} ago</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
